@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    /* background: skyblue; */
    /* Añadir foto de fondo sustituyendo el color */
    background-image: url(../img/fondo1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding:  40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.inverse{
    border-bottom: 5px solid rgb(137, 66, 188);
}
header .logo{
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    background: rgb(137, 66, 188);
    border-radius: 5px;
    padding: 0 10px;
    font-family: 'Lora', serif;
    font-weight: 600;
}
header .logo:hover{
    color: rgb(137, 66, 188);
    background: #fff;
    transition: 1s;
}
header .navbar{
    position: relative;
    display: flex;
}
header .navbar li{
    list-style: none;
    margin-left: 30px;
}
header .navbar li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
    font-size: 0.9em;
    text-transform: uppercase;
}
header .navbar.inverse li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 10px;
    transition: 0.3s;
    font-size: 0.9em;
    text-transform: uppercase;
}
header .navbar li a:hover{
    border-bottom: 5px solid rgb(137, 66, 188);
    padding: 2px;
}
/* Contenido de la web */
.contenido{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}
.contenido .tituloBox{
    position: relative;
    max-width: 600px;
    text-align: center;
}
.contenido .tituloBox h2{
    font-size: 4.5em;
    text-transform: uppercase;
    color: white;

}
.contenido .tituloBox h2 span{
    background: rgb(137, 66, 188);
    color: white;
    padding: 0 10px;
    font-family: 'Lora', serif;
    font-weight: 600;
    border-radius: 20px;
}
.contenido .tituloBox p{
    font-size: 1.8em;
    line-height: 1.5;
    color: white;
    font-family: 'Lora', serif;
    font-weight: 300;
    margin-bottom: 20px;
}
.contenido .tituloBox a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(137, 66, 188);
    background: #fff;
    padding: 10px 20px;
    margin: left 30px;
    border-radius: 20px;
    letter-spacing: 2px;
    transition: 0.5s;
}

.contenido .tituloBox a:hover{
    color: white;
    background: rgb(137, 66, 188);
    transition: 0.5s;
}

.contenido .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: -50px;
    z-index: -5;
}
.contenido .imgBox img{
    height: 80vh;
}
.contenido .imgBox img:hover{
    height: 80vh;
}

/*Copyright*/
.copyright{
    position: absolute;
    bottom: 0px;
    left: 800px;
    margin-bottom: 20px;
    padding: 0 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright p{
    color: #fff;
    text-align: center;
    margin-left: 100px;
}
/*Redes sociales*/
.redesSociales{
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px 30px;
    list-style: none;
}
.redesSociales li{
    padding: 10px;
}
.redesSociales li a{
    color: white;
    font-size: 2.5em;
    transition: 0.3s;
}
.redesSociales li:hover a{
    color: rgb(137, 66, 188);
}

/***********************************/
/*Circulo*/
.circulo{
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(2,112,108,0.386);
    clip-path: circle(650px at right 800px);
    width: 100%;
    height: 100%;
    z-index: -1000;
}
.circulo-cv{
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(137, 66, 188,0.286);
    clip-path: circle(650px at right 800px);
    width: 100%;
    height: 100%;
    z-index: -1000;
}
.circulo-cv2{
    position: absolute;
    top: 1200px;
    left: 0px;
    background: rgba(137, 66, 188,0.286);
    clip-path: circle(50% at left 50%);
    width: 500px;
    height: 500px;
    z-index: -1001;
}

/***********************************/
/*PÁGINA CURRICULUM VITAE*/
.bodyCV{
    background: linear-gradient(to bottom,rgb(137, 66, 188, 0.15)15%, #fff 60%, rgb(137, 66, 188, 0.2));
}
.todoCV{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
.encabezadoCV{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 100px;
}
.encabezadoCV .imgCV{
    width: 400px;
    height: 400px;
    display: flex;
    border: 10px solid rgb(137, 66, 188);
    border-radius: 50%;
}
.imgCV img{
    height: 100%;
}

/*Título CV*/
.encabezadoCV .tituloCV{
    position: relative;
    max-width: 600px;
}

.encabezadoCV .tituloCV h2{
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    
}

.encabezadoCV .tituloCV h3{
    font-size: 24px;
    font-weight: normal;
}
.encabezadoCV .tituloCV ion-icon{
    color: rgb(137, 66, 188);
    padding-right: 10px;
}
.encabezadoCV .tituloCV p{
    font-family: 'Lora', serif;
    margin-top: 20px;
    font-size: 18px;
}

/*ASIDES*/
.div-asides{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.div-asides aside{
    width: 580px;
    margin-bottom: 50px;
}

.div-asides aside h2 .rectangulo{
    width: 50px;
    height: 36px;
    margin-right: 15px;
    background-color: rgb(137, 66, 188);
}

.div-asides aside h2{
    margin-left: -65px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.div-asides aside p{
    text-align: justify;
    font-size: 18px;
}

.div-asides aside h3 span{
    max-width: 50px;
    margin-right: 10px;
}
.div-asides aside h3{
    font-size: 22px;
    margin-bottom: 5px;
}
.div-asides aside .texto-fecha{
    margin-left: 60px;
}

.div-asides .habilidades{
    margin-top: -150px;
}
.div-asides ul{
    margin-left: 20px;
}
.div-asides ul li{
    padding-bottom: 5px;
    font-size: 18px;
}

.div-asides .ofimatica{
    margin-top: -200px;
}

/*Barras de carga*/
.barra-carga {
    position: relative;
    width: 300px;
    height: 10px;
    background-color: #b4b4b4;
    margin-bottom: 20px;
    border-radius: 10px;
}
.barra-90 {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
    background-color: rgb(137, 66, 188);
    border-radius: 10px;
}

.barra-80 {
    position: absolute;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    background-color: rgb(137, 66, 188);
    border-radius: 10px;
}

.barra-75 {
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    background-color: rgb(137, 66, 188);
    border-radius: 10px;
}
.barra-60 {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 100%;
    background-color: rgb(137, 66, 188);
    border-radius: 10px;
}

/***************************************/
/* PROYECTOS DESTACADOS */

.contenidoProyectos{
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.contenidoProyectos aside{
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    max-width: 1500px;
    padding: 50px;
    border-radius: 50px;
    margin-top: 50px;
}
.contenidoProyectos aside:hover{
    box-shadow: 0 0 75px rgb(137, 66, 188);
}
.contenidoProyectos aside .imgProyectos{
    width: 450px;
    height: 450px;
}
.contenidoProyectos aside .imgProyectos img{
    width: 450px;
    height: 450px;
}
.contenidoProyectos aside .infoProyectos{
    display: flex;
    flex-direction: column;
    max-width: 900px;
}
.contenidoProyectos aside .infoProyectos h2{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 10px;
    color: rgb(137, 66, 188);
}
.contenidoProyectos aside .infoProyectos p{
    text-align: justify;
    font-size: 24px;
}
.contenidoProyectos aside .infoProyectos a{
    margin-top: 20px;
    text-decoration: none;
    color: rgb(137, 66, 188);
    font-size: 54px;
    margin-right: 10px;
}
.logo-uem{
    margin-top: 20px;
    width: 54px;
}

/*******************************************/
/*Contacto*/
.contenedorForm{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50px;
    padding-right: 50px;
    padding-left: 50px;
    flex-wrap: wrap;
}
.contenedorForm .imgForm{
    width: 500px;
    padding: 50px;
    margin-right: 100px;
}
.contenedorForm .imgForm img{
    width: 500px;
}
.contenedorForm form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.contenedorForm form input{
    font-size: 18px;
    background: rgb(227, 227, 227);
    width: 350px;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
}
.contenedorForm form textarea{
    font-size: 18px;
    background: rgb(227, 227, 227);
    width: 350px;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
}
.contenedorForm form .enviar{
    font-size: 18px;
    background: rgb(137, 66, 188);
    color: #fff;
    width: 100px;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    /*Alineamos izquierda*/
    align-self: flex-start;
}
.contenedorForm form h2{
    color: rgb(137, 66, 188);
    margin-bottom: 20px;
    align-self: self-start;
}